<div class="row">
{{#each cards}}
<div class="card col-sm-4">
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">{{ about }}
    </p>
  </div>
</div>
{{/each}}
</div>
