<div class="row">
{{#each products}}
<div class="card col-sm-4">
  <div class="card-body">
    <h5 class="card-title"><a href="/product/{{key}}">{{ name }}</a></h5>
    <p class="card-text">{{ description }}</p>
    <p class="text-right">${{ price }}</small>
  </div>
</div>
{{/each}}
</div>
